<div class="home">
  <header>
    <button class="hamburger" type="button" {{on "click" this.toggleNav}}>
      &#9776; {{!-- Unicode Hamburger menu --}}
    </button>
    <h1>Smart Shuffle</h1>
  </header>

  {{outlet}}

  {{#if this.showNav}}
    <nav class="side-nav">
      <button class="back-arrow" type="button" {{on "click" this.toggleNav}}>
        &#8592; {{!-- Unicode left arrow --}}
      </button>
      <ul>
        <li><LinkTo @route="index" {{on "click" this.toggleNav}}>Home</LinkTo></li>
        {{#unless this.isSessionActive}}
          <li><LinkTo @route="login" {{on "click" this.toggleNav}}>Login</LinkTo></li>
        {{else}}
          <li><LinkTo @route="index" {{on "click" this.logout}}>Logout</LinkTo></li>
        {{/unless}}
      </ul>
    </nav>
  {{/if}}
</div>