<div class="login-page">
  <h2>{{if this.isCreatingAccount "Create Account" "Login"}}</h2>

  {{#if this.error}}
    <div class="error">{{this.error}}</div>
  {{/if}}

  <form {{on "submit" this.submitForm}}>
    <div>
      <label for="username">Username</label><br>
      <Input @id="username" @value={{this.username}} @type="text" autocomplete="username" required />
    </div>

    <div>
      <label for="password">Password</label><br>
      <Input @id="password" @value={{this.password}} @type="password" autocomplete="current-password" required />
    </div>

    <button type="submit">
      {{if this.isCreatingAccount "Create Account" "Login"}}
    </button>
  </form>

  <button type="button" {{on "click" this.toggleCreateAccount}} class="toggle-mode">
    {{if this.isCreatingAccount "Already have an account? Login" "Need an account? Sign up"}}
  </button>
</div>